{% extends 'base_template.html' %}
{% block site_body %}
    <div class="container">
        {% for error in form.errors %}
            {{ error }}
        {% endfor %}
        {{ information }}
        <div class="row">
            <div class="col s12 m8 l4 offset-m2 offset-l4"
                <form method="POST" action="zmien-haslo">
                    {{ form.as_p }}
                    <input type="submit" class="btn" value="Zmień hasło">
                </form>
            </div>
        </div>
    </div>
{% endblock %}