{% extends 'base_template.html' %}

{% block site_body %}

<div class="container">
    <div class="container center">
        <h2>Stwórz konto:</h2>
    </div>
    <div class="container center">
        <form method="POST" action="{% url 'sign_in' %}">
            {% csrf_token %}
            <span class="red-text">
                {% for error in form.username.errors %}
                    {% if  error == 'Istnieje już User z tą wartością pola Nazwa użytkownika.'%}
                        Podana nazwa użytkownika jest już zajęta.<br>
{#                    {% else %}#}
{#                        {{ error }}<br>#}
                    {% endif %}
                {% endfor %}
                {% for error in form.email.errors %}
                    {{ error }}<br>
                {% endfor %}
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </span>
            <div class="input-field center">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="input-field center">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="input-field center">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="input-field center">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <input type="submit" class="btn" value="Zarejestruj się">
        </form>
    </div>
</div>
{%  endblock %}