{% extends 'base_template.html' %}

{% block title %}
Atrakcje turystyczne w Gdyni
{% endblock %}
{% block site_title %}
Atrakcje turystyczne w Gdyni
{% endblock %}

{% block site_body %}
<div class="row">
<div class="col s12 m6 offset-m3"
    <div class="container">
        <div class="card">
            <div class="card-image">
                <img src="{{ object.image.url }}" class="responsive-img">
                <span class="card-title"> {{ object.name }} </span>
            </div>
            <div class="row"> <div class="card-content">{{ object.description }} </div></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}