{% extends 'base_template.html' %}

{% block title %}
Atrakcje turystyczne w Gdyni
{% endblock %}
{% block site_title %}
Atrakcje turystyczne w Gdyni
{% endblock %}

{% block site_body %}

<div class="container">
    <div class="row">
        {% for object in object_list %}
                <div class="col s12 m6 l4" >
                    <div class="card small">
                        <div class="card-image"><img src="{{ object.image.url }}">
                        <span class="card-title">{{ object.name }}</span></div>
                        <div class="card-content">
                            <i class="material-icons tiny">thumb_up</i> Lubię to! &nbsp;&nbsp;&nbsp;
                            <i class="material-icons tiny">share</i> Udostępnij &nbsp;&nbsp;&nbsp;
                            <i class="material-icons tiny">location_on</i> Pokjaż na mapie
                        </div>
                        <div class="card-action"><a href="/atrakcja/{{ object.id }}">Szczegóły</a> </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="pagination">
              <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="waves-effect"><a href="?page=1"><i class="material-icons">fast_rewind</i></a></li>
                         {% if page_obj.previous_page_number|add:"-2" > 0 %}
                            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-2" }}">{{ page_obj.previous_page_number|add:"-2" }}</a></li>
                        {% endif %}
                        {% if page_obj.previous_page_number|add:"-1" > 0 %}
                            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-1" }}">{{ page_obj.previous_page_number|add:"-1" }}</a></li>
                        {% endif %}

                        <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}

                      <li class="active"><a href="#">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        {% if page_obj.next_page_number|add:"1" <= paginator.page_range|last %}
                            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"1" }}">{{ page_obj.next_page_number|add:"1" }}</a></li>
                        {% endif %}
                         {% if page_obj.next_page_number|add:"2" <= paginator.page_range|last %}
                            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"2" }}">{{ page_obj.next_page_number|add:"2" }}</a></li>
                        {% endif %}
                        <li class="waves-effect"><a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">fast_forward</i></a></li>
                    {% endif %}
              </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}