{% extends 'base_template.html' %}

{% block title %}
Atrakcje turystyczne w Gdyni
{% endblock %}
{% block site_title %}
Atrakcje turystyczne w Gdyni
{% endblock %}

{% block site_body %}

<div class="container">
    <div class="row">
        {% for object in object_list %}
            <div class="col s12 m6 l4" >
                <div class="card">
                    <div class="card-image">
                        <div style="display: flex; justify-content: center; align-items: center; min-height: 200px;">
                            <img class="responsive-img" src="{{ object.image.url }}">
                        </div>
                        {% if user in object.users_liked.all %}
                            <a class="btn-floating halfway-fab waves-effect waves-light blue tooltipped" href="/polub?id={{ object.id }}" data-position="bottom" data-tooltip="Usuń polubienie">
                            <i class="material-icons yellow-text">star</i>
                        {% else %}
                            <a class="btn-floating halfway-fab waves-effect waves-light blue tooltipped" href="/polub?id={{ object.id }}" data-position="bottom" data-tooltip="Lubię to!">
                            <i class="material-icons">star</i>
                        {% endif %}
                        </a>
                    </div>
                    <div class="card-content" style="min-height: 150px;">
                        <span class="card-title activator grey-text text-darken-4">{{ object.name }}</span>
                        {{ object.users_liked.all|length }}
                        {% if object.users_liked.all|length == 0 %} osób polubiło
                        {% elif object.users_liked.all|length == 1 %} osoba polubiła
                        {% elif object.users_liked.all|length < 5 %} osoby polubiły
                        {% elif object.users_liked.all|length >= 5 %} osób polubiło
                        {% endif %}
                    </div>
                    <div class="card-action">
                         <a href="/atrakcja/{{ object.id }}">Szczegóły</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="pagination">
              <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="waves-effect"><a href="?page=1"><i class="material-icons">fast_rewind</i></a></li>
                         {% if page_obj.previous_page_number|add:"-2" > 0 %}
                            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-2" }}">{{ page_obj.previous_page_number|add:"-2" }}</a></li>
                        {% endif %}
                        {% if page_obj.previous_page_number|add:"-1" > 0 %}
                            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-1" }}">{{ page_obj.previous_page_number|add:"-1" }}</a></li>
                        {% endif %}

                        <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}

                      <li class="active"><a href="#">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        {% if page_obj.next_page_number|add:"1" <= paginator.page_range|last %}
                            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"1" }}">{{ page_obj.next_page_number|add:"1" }}</a></li>
                        {% endif %}
                         {% if page_obj.next_page_number|add:"2" <= paginator.page_range|last %}
                            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"2" }}">{{ page_obj.next_page_number|add:"2" }}</a></li>
                        {% endif %}
                        <li class="waves-effect"><a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">fast_forward</i></a></li>
                    {% endif %}
              </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
  });
</script>
{% endblock %}